.home-content {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
  }
  
  .highlight {
    font-size: 2.5rem;
    color: #007bff;
  }
  
  .description {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  
  .btn-green {
    background-color: #28a745;
    color: white;
  }
  
  .btn-green:hover {
    background-color: #218838;
  }
  